fastapi
uvicorn[standard]
streamlit
requests
pydantic
python-multipart
pyyaml
numpy
zstandard
opencv-python
Pillow
torch
transformers
sentence-transformers
accelerate
einops
safetensors
ctranslate2
sentencepiece
sacremoses
